<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="testConfiguration"
               status="debug"
               strict="true"
               monitorInterval="30"
               schema="Log4J-V2.0.xsd" >

    <!--<properties>-->
        <!--<property name="filters">org.apache</property>-->
    <!--</properties>-->


    <Appenders>
        <!--<RollingRandomAccessFile   name="sqllog" fileName="${sys:LOG_DIR}/mysql.log"
                                   filePattern="%d{yyyy.MM}.log" Append="true"  encoding="UTF-8" >
            <PatternLayout charset="utf-8" pattern="%d{yyyy/MM/dd HH:mm:ss} %p %C  %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>

        </RollingRandomAccessFile >

        <RollingFile  name="Daijia" fileName="${sys:LOG_DIR}/root.log"
                      filePattern="${sys:LOG_DIR}/root%d{yyyy-MM}.log" Append="true"  encoding="UTF-8" >
            <PatternLayout charset="utf-8" pattern="%d{yyyy/MM/dd HH:mm:ss} %p %C  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="16"/>
            <RegexFilter regex="com.opentae.data.daifa" onMatch="DENY" onMismatch="ACCEPT"/>
        </RollingFile >

-->

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss} %p %C  %m%n"/>
        </Console>
    </Appenders>
    <Loggers>



        <Root level="INFO">
            <AppenderRef ref="STDOUT" />

        </Root>
        <!--<Logger name="org.apache" level="info" />-->
        <!--<Logger name="org.springframework" level="debug"  />-->
        <Logger name="com.opentae.data.daifa" level="debug"  additivity="false">
            <AppenderRef ref="sqllog" />
        </Logger>



    </Loggers>



</Configuration>
